/* Referencing entity form. */
.crop-entity-form {
  position: relative;
}
.crop-entity-form:before {
  content: attr(title);
  color: #222;
  padding: 0 25px 0 5px;
  display: block;
  background: rgba(255, 255, 255, 0.7) url(cropicon.png) right top no-repeat;
  background-size: contain;
  height: 20px;
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 3px;
  opacity: 0.8;
}

.crop-entity-form:hover:before {
  opacity: 1;
}

/* Crop form. */
#edit-croptop .crop-entity-top-submit {
  float: right;
  margin-top: 23px;
  margin-bottom: 0;
}

.crop-entity-top-wrap {
  border: 0;
  padding: 0;
  margin: 0;
}

#edit-croptop .fieldset-wrapper {
  padding-top: 0;
  padding-bottom: 0;
}

.form-item-croptop-crop-ratio {
  display: inline-block;
  width: auto;
}

.crop-entity-ratio-maximize {
  margin-left: 20px;
}
